<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"

	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<!-- jdbc datasource 설정 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName">
			<!-- jdbc 드라이버 클래스 이름 -->
			<value>cubrid.jdbc.driver.CUBRIDDriver</value>
		</property>
		<property name="url">
			<!-- 접속 할 데이터베이스 url로 jdbc:cubrid:IP:PORT:DB이름::: 형식으로 입력 -->
			<value>jdbc:cubrid:localhost:33000:testdb:::</value>
		</property>

		<!-- 데이터베이스에 접속할 아이디, 패스워드 설정.
		alter user dba password ''변경하고자 하는 패스워드'';
		 -->
		<property name="username">
			<value>dba</value>
		</property>

		<property name="password">
			<value>1234</value>
		</property>

	</bean>


	<!-- 질의 수행 객체 -->
	<bean id="BoardDao" class="com.board.dao.BoardDAO">
		<property name="dataSource">
			<ref local="dataSource" />
		</property>
	</bean>
	

</beans>